.container::before {
    content: "STOP WATCH";
    position: absolute;
    top: 0;
    left: 0;
    margin-top: -190px;
    width: 100%;
    text-align: center;
    font-size: 30px;
    font-family: 'calibri';
    font-weight: 800;
    
  }
  body {
    margin: 0;
    padding: 0;
    background-image: url('clk1.jpg');
    
    background-size: cover; /* This property ensures that the background image covers the entire body */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Prevent the background image from repeating */
    font-family: 'Arial', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color:#87bdd8;
  }
  
  
  /* Additional styles for other elements if needed */

  
  .stopwatch-container {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    border-radius: 10px;
    padding: 20px;
  }
  
  
  #heading {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  #display {
    font-size: 3em;
    margin-bottom: 15px;
  }
  
  button {
    font-size: 1.2em;
    margin: 10px;
    padding: 10px 15px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #45a049;
  }
  